__DIREXTALK_PUBLIC_DOMAIN__ {
	handle /.well-known/matrix/server {
		header Content-Type application/json
		respond `{"m.server":"__DIREXTALK_PUBLIC_DOMAIN__:443"}` 200
	}

	handle /.well-known/matrix/client {
		header Content-Type application/json
		header Access-Control-Allow-Origin *
		respond `{"m.homeserver":{"base_url":"https://__DIREXTALK_PUBLIC_DOMAIN__"}}` 200
	}

	handle /.well-known/portal/* {
		reverse_proxy message-server:8008
	}

	handle /_dirextalk/updater/v1/jobs/* {
		reverse_proxy unix//run/dirextalk-updater/http.sock
	}

	handle /_matrix/* {
		reverse_proxy message-server:8008
	}

	handle /_dendrite/* {
		reverse_proxy message-server:8008
	}

	handle /_synapse/* {
		reverse_proxy message-server:8008
	}

	handle /_p2p/* {
		reverse_proxy message-server:8008
	}

	handle {
		reverse_proxy message-server:8008
	}
}
